/* ---------------------------*/
/* --------- Document ------- */
/* ---------------------------*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@import url('https://fonts.googleapis.com/css?family=Raleway');

/* Include margin in width and height for all elements. */
/* Remove dotted outline from active elements. */

* {
    box-sizing: border-box;
}

a {
    outline: 0;
}

body {
    margin: 0;
}

/* ---------------------------*/
/* ---------- Fonts --------- */
/* ---------------------------*/

* {
    font-family: 'Raleway', sans-serif;
}

p {
    font-size: 16px;
    padding-left: 3px;
}

/* ---------------------------*/
/* --------- Header --------- */
/* ---------------------------*/

.header {
    width: 95%;
    margin: 0 2.5% 25px 2.5%;
    text-align: center;
}

.header-logo {
    max-width: 100%;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .header {
        width: 90%;
        margin-left: 5%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .header {
        width: 90%;
        margin-left: 5%;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 992px) {
    .header {
        width: 90%;
        margin-left: 5%;
    }
}

/* ---------------------------*/
/* --------- Sidebar -------- */
/* ---------------------------*/

.sidebar {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 25px;
    min-height: 200px;
    background-size: cover;
    clear: left;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .sidebar {
        width: 22.5%;
        margin-left: 2.5%;
        float: left;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .sidebar {
        width: 22.5%;
        margin-left: 2.5%;
        float: left;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 992px) {
    .sidebar {
        width: 22.5%;
        margin-left: 2.5%;
        float: left;
    }
}

/* ---------------------------*/
/* ------- Containers ------- */
/* ---------------------------*/

.container {
    width: 100%;
    float: left;
    clear: both;
    border-radius: 5px;
    margin-right: -15px;
    margin-left: -15px;    
}

.media-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        width: 60%;
        margin-right: 20%;
        margin-left: 20%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        width: 60%;
        margin-right: 20%;
        margin-left: 20%;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 992px) {
    .container {
        width: 60%;
        margin-right: 20%;
        margin-left: 20%;
    }
}

/* ---------------------------*/
/* ----- Fluid Container ---- */
/* ---------------------------*/

.container-fluid {
    width: 100%;
    background-size: cover;
    float: left;
    clear: both;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container-fluid {
        width: 100%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container-fluid {
        width: 100%;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 992px) {
    .container-fluid {
        width: 100%;
    }
}

/* ---------------------------*/
/* ----- Navigation Bar ----- */
/* ---------------------------*/

.navbar {
    width: 100%;
    min-height: 50px;
    margin-top: 0;
    margin-bottom: 0 !important;
}

.navbar-login {
    height: 85px;
}

.navbar-login li {
    line-height: 75px !important;
}

.navbar-login .navbar-secondary-logo {
    margin-top: 10px;
}

#navbar-mobile > .container {
    margin: 0;
}

.navbar ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar ul li {
    background-color: #303F9F;
    line-height: 50px;
    display: block;
    transition: background-color 0.4s;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: #ffffff;
    display: block;
}

.navbar ul li:hover {
    background-color: #D32F2F;
    transition: background-color 0.4s;
}

.navbar ul li:first-child {
    border-top: 1px solid #ffffff;
}

.navbar ul li {
    border-bottom: 1px solid #ffffff;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .navbar ul {
        list-style-type: none;
        text-align: center;
    }

    .navbar ul li {
        display: inline-block;
        line-height: 50px;
    }

    .navbar ul li a {
        text-decoration: none;
        font-size: 17px;
        color: #ffffff;
        padding-left: 20px;
        padding-right: 20px;
        display: inline-block;
    }

    .navbar ul li:first-child {
        border-top: none;
    }

    .navbar ul li {
        border-bottom: none;
    }
}

/* ---------------------------*/
/*  Secondary Navigation Bar  */
/* ---------------------------*/

.navbar-secondary-container {
    background-color: #000000;
}

.navbar-secondary {
    width: 100%;
    min-height: 31px;
    margin-top: 0;
    padding-top: 5px;
    background-color: #000000;
    margin-bottom: 0 !important;
    padding-bottom: 35px;
}

.navbar-secondary-logo {
    height: 32px;
}

.navbar-secondary ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-secondary ul li {
    background-color: #000000;
    line-height: 30px;
    display: block;
    transition: background-color 0.4s;
}

.navbar-secondary ul li a {
    text-decoration: none;
    font-size: 17px;
    color: #ffffff;
    display: block;
}

.navbar-secondary ul li a:hover {
    color: #dddddd;
}

.navbar-secondary ul li:first-child {
    border-top: 1px solid #ffffff;
}

.navbar-secondary ul li {
    border-bottom: 1px solid #ffffff;
}

.navbar-secondary ul li input[type="text"], .navbar-secondary ul li input[type="password"] {
    max-width: 150px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .navbar-secondary ul {
        list-style-type: none;
        text-align: center;
    }

    .navbar-secondary ul li {
        display: inline-block;
        line-height: 30px;
    }

    .navbar-secondary ul li a {
        text-decoration: none;
        font-size: 15px;
        color: #ffffff;
        padding-left: 20px;
        padding-right: 20px;
        display: inline-block;
    }

    .navbar-secondary ul li:first-child {
        border-top: none;
    }

    .navbar-secondary ul li {
        border-bottom: none;
    }
}

.navbar-dropdown-toggle {
    color: #ffffff;
    font-size: 17px;
    line-height: 50px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.navbar-dropdown-toggle i {
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 5px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .navbar-dropdown-toggle {
        visibility: hidden;
        display: none;
    }
}

.navbar-dropdown-toggle-container {
    background-color: #000000;
    min-height: 50px
}

/* ---------------------------*/
/* ------ Stress button ----- */
/* ---------------------------*/

#stress {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 60px;
    height: 30px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 1px 3px 5px 1px rgba(100,100,100,0.7);
    background-color: #FFFFFF;
}

/* ---------------------------*/
/* --------- FriendList ----- */
/* ---------------------------*/

.friendcontainer {
    position: fixed;
    bottom: 0px;
    right: 10px;
    width: 250px;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 1px 3px 5px 1px rgba(100,100,100,0.7);
    border-collapse: separate;
}

.friendnav {
    display: block;
    position: relative;
    bottom: 0px;
    height: 35px;
    border-left: 1px solid #222222;
    border-top: 1px solid #222222;
    border-right: 1px solid #222222;
    background-color: #73b9ff;
}

.friendnav a {
    text-decoration: none;
    color: black;
    display: flex;
    line-height: 35px;
    justify-content: space-between; 
}

.friendnav p {
    margin: 0px;
    display: inline-block;
}

.friendnav p:nth-child(1) {
    padding-left: 10px;
}

.friendnav p:nth-child(2) {
    text-align: right;
    padding-right: 10px;
}

.friendlisttable table {
}

.friendlisttable td {
    padding: 0px;
}

.friendlisttable tr:nth-child(odd) {
    background-color: #eeeeee;
    padding: 3px;
}

.friendlisttable tr:nth-child(odd) td {
    border-top: 3px solid #f8f8f8;
}

.friendlisttable tr:nth-child(even) {
    font-size: 10px;
    background-color: #eeeeee;
}

.friendlisttable tr:nth-child(even) td {
    border-bottom: 3px solid #f8f8f8;
}

.friendlisttable td:first-child {
    width: 150px;
    padding: 2px 5px;
}

.friendlisttable td:nth-child(2){
    width: 100px;
    padding: 2px 5px;
    text-align: right;
}

.friendnavtablediv {
    padding: 5px;
    border-left: 1px solid #222222;
    border-top: 1px solid #222222;
    border-right: 1px solid #222222;
    border-radius: 5px 5px 0px 0px;
    background-color: #f8f8f8;
}

/* ---------------------------*/
/* --------- Footer --------- */
/* ---------------------------*/

footer {
    margin-top: 100px;
    padding-top: 10px;
    background-color: #222222 !important;
    color: #d2d2d2;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    transition: padding-left 0.4s;
}

footer ul li:hover {
    padding-left: 10px;
    transition: padding-left 0.4s;
}

footer ul li a {
    color: #d2d2d2;
    text-decoration: none;
    font-size: 16px;
    line-height: 30px;
}

/* ---------------------------*/
/* --- Element Visibility --- */
/* ---------------------------*/

.visible-mobile {
    visibility: visible;
    display: block;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .visible-mobile {
        visibility: hidden;
        display: none;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .visible-mobile {
        visibility: hidden;
        display: none;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .visible-mobile {
        visibility: hidden;
        display: none;
    }
}

.visible-desktop {
    visibility: hidden;
    display: none;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .visible-desktop {
        visibility: visible;
        display: block;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .visible-desktop {
        visibility: visible;
        display: block;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .visible-desktop {
        visibility: visible;
        display: block;
    }
}

/* ---------------------------*/
/* -------- Columns --------- */
/* ---------------------------*/

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    display: inline-block;
    vertical-align: top; /* Display text at top */
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
    margin: 0 15px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        margin: 0;
    }

    .col-1 {
        width: 8.33333333%;
    }

    .col-2 {
        width: 16.66666667%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33333333%;
    }

    .col-5 {
        width: 41.66666667%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33333333%;
    }

    .col-8 {
        width: 66.66666667%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33333333%;
    }

    .col-11 {
        width: 91.66666667%;
    }

    .col-12 {
        width: 100%;
    }
}

.col-3 h2 {
    padding-left: 10px;
}

.col-3 p {
    padding-left: 5px;
}

/* ---------------------------*/
/* ------ Font Awesome ------ */
/* ---------------------------*/

.fa {
    margin-right: 10px;
}

/* ---------------------------*/
/* ----- Miscellaneous ------ */
/* ---------------------------*/

.left {
    float: left;
}

.right {
    float: right;
}

/* ---------------------------*/
/* -------- Buttons --------- */
/* ---------------------------*/

.btn {
    text-decoration: none;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #222222;
    color: #ffffff;
}

.btn-block {
    display: block;
}

.btn-primary {
    background-color: #6773ff;
    border-bottom: outset 5px #2b34c1;
}

.btn-primary:hover {
    background-color: #D32F2F;
}

.btn-primary:active {
    border-bottom: outset 2px #2b34c1;
    position: relative;
    top: 3px;
}

.btn-success {
    background-color: #3cb636;
    border-bottom: outset 5px #31912c;
}

.btn-success:hover {
    background-color: #37a331;
}

.btn-success:active {
    border-bottom: outset 2px #31912c;
    position: relative;
    top: 3px;
}

.btn-alert {
    background-color: #f0b929;
    border-bottom: outset 5px #bf9923;
}

.btn-alert:hover {
    background-color: #d5a424;
}

.btn-alert:active {
    border-bottom: outset 2px #b29a36;
    position: relative;
    top: 3px;
}

.btn-danger {
    background-color: #b64142;
    border-bottom: outset 5px #913435;
}

.btn-danger:hover {
    background-color: #9e3c3d;
}

.btn-danger:active {
    border-bottom: outset 2px #913435;
    position: relative;
    top: 3px;
}

.redbtn {
    background-color: #D32F2F;
    border-radius: 4px;
    padding: 8px 30px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 20px;
    transition: box-shadow 0.5s;
    display: inline-block;
}

.redbtn-search {
    padding: 3px 5px 6px 15px;
    font-size: 20px;
}

/* ---------------------------*/
/* --------- Panels --------- */
/* ---------------------------*/

.panel {
    border: 2px solid #D32F2F;
    border-radius: 25px;
    background-color: #D32F2F;
}

.panel-heading {
    min-height: 40px;
    padding: 1px 10px;
    border-bottom: 2px solid #D32F2F;
    border-radius: 25px 25px 0px 0px;
    background-color: #D32F2F;

}

.panel-heading > h3 {
    margin: 10px;
    color:#ffffff;
}

.panel-body {
    min-height: 100px;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 0px 0px 25px 25px;
}

.panel-footer {
    padding: 10px;
    text-align: right;
    border-top: 1px solid #333333;
}

.panel-primary > .panel-heading {
    background-color: #D32F2F;
}

.panel-success > .panel-heading {
    background-color: #D32F2F;
}

.panel-alert > .panel-heading {
    background-color: #f0b929;
}

.panel-danger > .panel-heading {
    background-color: #ff7279;
}

/* ---------------------------*/
/* ----- Image Caption ------ */
/* ---------------------------*/

.imageholder {
    position: relative;
    display: inline-block;
    vertical-align: top; /* Display text at top */
    border-radius: 0x 0x 25px 25px;
}

.imageholder .caption {

    opacity: 0;
    position: absolute;
    height: relative;
    width: 100%;
    bottom: 1px;
    left: 0;
    padding: 0 15px;
    margin: 0;
    color: white;
    background: #222222;
    text-align: center;
    border-radius: 0 0 0 10px;
}

.imageholder:hover .caption {
    opacity: 0.7;
}

.image {
    width: 100%;
    margin-top: 25px;
    display: block;
    border: 2px solid #303F9F;
    border-radius: 0 10px 0 10px;
    background-color: #303F9F;
}

.nsfw {
    -webkit-filter: blur(10px);
    filter: blur(10px);
    border: 2px solid #D32F2F !important;
    background-color: #D32F2F;
}

/* ---------------------------*/
/* ------ Signup Form ------- */
/* ---------------------------*/

.signup-form-container {
    margin-top: 25px;
}

.signup-form label {
    display: block;
    margin-top: 25px;
    font-size: 14px;
}

.signup-form-username, .signup-form-password, .signup-form-submit {
    display: block;
    width: 100%;
}

.signup-form-submit {
    margin-top: 25px;
    padding: 15px;
    font-size: 20px;
}

/* Search form */

input[name=search] {
    width: 90%;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 8px 20px 8px 20px;
    transition: box-shadow 0.5s;
    display: inline-block;
}

.search-media ul {
    margin:0 0 20px 0;
    padding: 0;
}

.search-media li {
    display:inline-block;
    margin-right: 20px;
}

label.checkbox {
    display: inline;
}

label.checkbox input[type="checkbox"] {
    display:none;
}

label.checkbox span {
    position: relative;
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 10px 0 10px;
    margin-right: 5px;
}

label.checkbox :checked + span {
    background: url(http://i.imgur.com/SnRA1MY.png) no-repeat center center;
    background-size: 100%;
}

/* ---------------------------*/
/* --- Browse Single Media ---*/
/* ---------------------------*/

.browse-media-container {
    text-align: center;
}

.browse-media-container h1 {
    margin-bottom: 0;
}

.browse-media-container img {
    max-width: 100%;
    max-height: 100%;
}

.browse-media-container figcaption {
    display: flex;
    justify-content: center;
}

.browse-media-container figcaption a {
    padding: 5px;
}

/* ---------------------------*/
/* -------- Comments -------- */
/* ---------------------------*/

.comments {
    margin-top: 25px;
    box-shadow: 1px 1px 5px 1px rgba(150, 150, 150, 0.7);
    background-color: #73b9ff;
}

.comments h2{
    margin-bottom: 10px;
    padding-left: 10px;
}

.comments textArea {
    width: 100%;
    box-sizing: border-box;
    resize: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 8px 20px 8px 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    transition: box-shadow 0.5s;
    display: inline-block;
    white-space:pre;
}

.comments form {
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment-summary {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.comments button {
    margin: 0px;
}

.comments hr {
    margin: 0;
}

.comment {
    margin-top: 0;
    display: flex;
    background-color: #73b9ff;
    padding: 8px;
    align-items: center;
}

.comment .col-9::before {
    content: '';
    width: 13px;
    height: 13px;
    background: #b7dbff;
    border-left: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    position: absolute;
    top: 19px;
    left: -8px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.comment .col-3 {
    text-align: center;
}

.comment .col-9 {
    background-color: #B7DBFF;
    word-wrap: break-word;
    overflow-x: auto;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .comment .col-9 {
        overflow-x: initial;
    }
}

.comment .col-3 h2 {
    padding-left: 0;
    margin-top: 0;
}

.comment .col-3, .comment .col-9 {
    display: block;
    height: 100%;
}

.comment h2 {
    margin-bottom: 0;
}

.comment-date {
    font-size: 12px;
}
